<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-4.146-3.354-4.5 4.5-2.146-2.146 1.414-1.414L7.354 7.5l3.293-3.293 1.414 1.414z" />
    </symbol>
</svg>

<% if (success && success.length> 0) { %>
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
            <%= success %>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                <path
                    d="M8 0c4.418 0 8 3.582 8 8s-3.582 8-8 8-8-3.582-8-8 3.582-8 8-8zm.93 4.412a.5.5 0 0 0-.858 0l-3.29 5.786a.5.5 0 0 0 .429.75h6.582a.5.5 0 0 0 .43-.75L8.93 4.412zM8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </symbol>
        </svg>

        <% if (error && error.length> 0) { %>
            <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    <%= error[0] %>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>